* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .container {
    text-align: center;
    max-width: 500px;
    width: 100%;
  }
  
  .logo {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 40px;
  }
  
  #resultado {
    font-size: 25px;
    color: aquamarine;
    margin-bottom: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  

  h1 {
    font-size: 2rem;
    color: #979797;
    margin-bottom: 20px;
  }
  
  .input-group {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  input {
    width: 150px;
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    text-align: center;
  }
  
  button {
    width: 100%;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #aec346;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #7c8a38;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  